html, body {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
body {
	background-color: #F2C457;
	padding-bottom: 2em;
}
div.module, div.continue {
	position: relative;
}
div.continue {
	margin-bottom: 1.4em;
}
div.module:last {
	margin-bottom: 1.5em;
}
div.video-container, .green-background {
	background-color: #0B662D;
}
.black-background {
	background-color: #000;
}
div.activity-container {
	background-color: #eee;
}
div.last-statement {
	padding-bottom: 2em;
}
textarea.activity {
	margin-bottom: 2em;
}
a, a:hover, a:focus {
	text-decoration: none;
}
a button {
	display: block;
}
h2.welcome {
	font-size: 4em;
	text-align: center;
	color: #0fa84a;
	display: block;
	padding: 0;
	margin: 0;
}
.col-xs-12 h2.welcome {
	margin-bottom: 0.4em;
}
.module-screen {
	text-align: center;
	padding: 0;
}
.module-screen h2 {
	color: #0fa84a;;
}
.module-screen h2 span {
	font-size: 1em;
	text-transform: uppercase;
}
.module-screen p {
	font-size: 2.2em;
}
p.caption, .module-screen p { 
	color: #f8ed31;
	text-transform: uppercase;
	font-weight:bold;
}
p.caption {
	font-size: 1.4em;
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: rgba(11, 102,045, 0.8);
	width: 100%;
	margin-bottom: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}
p.instruction {
	font-size: 1.4em;
	margin-top: 1em;
	text-align: center;
}
p.statement {
	font-size: 1.2em;
	margin-top: 1.4em;
}
p.statement:first {
	margin-top: 0;
}
p.congratulations {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	font-size: 2em;
	color: #0B662D;
	text-align: center;
}
img.logo {
	width: 240px;
}
img.logo-horizontal {
	width: 40%;
	margin-top: 0.2em;
	margin-bottom: 0.6em;
}
.clearfix {
	clear: both;
}
/* Forms */
p.sign-in {
	font-size: 1.8em;
	margin-top: 1em;
	color: #AD7E0E;
	text-align: center;
	text-transform: uppercase;
}
form.sign-in input {
	height: 50px;
	font-size: 1.4em;
}
button:hover {
	cursor: pointer;
}
button.sign-in {
	width: 100%;
	background-color: #8d5024;
	color: #fff;
	padding-top: 0.6em;
}
button.create-account, button.continue, button.submit {
	font-weight: bold;
	background-color: #0fa84a;
	color: #f8ed31;
}
button.create-account, button.continue, button.submit, button.done {
	border: 2px solid #0B662D;
}
button.done {	
	color: #0fa84a;
}
button.done:hover {
	color: #0B662D;;
}
button.create-account {
	width: 100%;
	margin-top: 1.4em;
	margin-bottom: 2em;
}
button.continue, button.submit, button.done {
	width: 60%;
	position: absolute;
	left: 20%;
	padding-top: 0.6em;
	text-transform: uppercase;
}
button.continue {
	margin-top: 1em;
}
button.submit {
	margin-top: 2em;
	margin-bottom: 1.4em;
}
button.sign-in:hover {
	color: #f8ed31;
	background-color: #5d3619;
}
button.create-account:hover, button.continue:hover, button.submit:hover {
	color: #0fa84a;
	background-color: #0B662D;
	border: 2px solid #0B662D;
}
button.sign-in:hover, button.create-account:hover {
	transition: background-color ease-in 0.2s;
	transition: color ease-in 0.2s;
}

/* Tablet styles */

@media (min-width: 768px) {
		img.logo {
		width: 300px;
		margin-top: 80px;
		}
		img.logo-horizontal {
			margin-bottom: 1.5em;
			margin-top: 1em;
			width: 40%;
		}
		img.module, img.module-three {
			width: 100%;
		}
		form input, button {
			width: 60%;
		}
		.module-screen-heading {
			display: block;
			width: 100%;
		}
		p.caption {
			font-size: 3em;
		}
		p.statement {
			text-align: center;
		}
		div.activity-container {
			padding: 0;
			width: 100%;
		}
		textarea.activity {
			width: 94%;
			margin-left: 3%;
		}
}





























